{% extends "base_generic.html" %}
{% block title %}<title>CS Store | {{ productlisting.name }}</title{% endblock %}

{% block content %}
    <h1>{{ productlisting.name }}</h1>
    <p><a href="{{ productlisting.vendor.get_absolute_url }}">{{ productlisting.vendor.name }}</a></p>
    <img src="{{ productlisting.imageURL }}"/>
    <p>${{ productlisting.price }} | {% if productlisting.quantity_available %}{{ productlisting.quantity_available }} in stock{% else %}Back in stock {{ productlisting.restockDate }}{% endif %}</p>
    <p>{{ productlisting.description }}</p>
    {% if productlisting.list_tags %}
    <p>Tags: {{ productlisting.list_tags }}</p>
    {% endif %}
    <form action="{% url 'my-cart-add-product' pID=productlisting.id %}" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Add to cart</button>
        <a href="javascript:history.go(-1)" class="btn btn-secondary">Back</a>
      </form>
{% endblock content %}