{% extends "base_generic.html" %}
{% block title %}<title>CS Store | Services</title{% endblock %}

{% block content %}
    <h1>Available Services</h1>
    {% if servicelisting_list %}
    <ul>
        {% for service in servicelisting_list %}
            {% if service.active %}
                <li>
                    <a href="{{ service.get_absolute_url }}">{{ service.name }} | ${{ service.price }}{% if service.price_per_hour %} per hour{% endif %}</a> | <a href="{{ service.vendor.get_absolute_url }}">{{ service.vendor.vendor_name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
        <p>There are currently no available services.</p>
    {% endif %}
    {% comment %} <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a> {% endcomment %}
{% endblock content %}