{% extends "base_generic.html" %}
{% block title %}<title>CS Store | {{ service.name }}</title{% endblock %}

{% block content %}
    <h1>{{ servicelisting.name }}</h1>
    <p><a href="{{ servicelisting.vendor.get_absolute_url }}">{{ servicelisting.vendor.vendor_name }}</a></p>
    
    <img src="{{ servicelisting.imageURL }}"/>
    <p>${{ servicelisting.price }}{% if servicelisting.price_per_hour %} per hour{% endif %} | {{ servicelisting.days_available }}</p>
    <p>{{ servicelisting.description }}</p>
    
    {% if servicelisting.list_tags %}
        <p>Tags: {{ servicelisting.list_tags}}</p>
    {% endif %}
    <button                     
    data-product="{{ servicelisting.id }}"
    data-action="add"
    class="button button-primary"
    target='_self'
    onclick="window.open('{% url 'my-cart-add-service' sID=servicelisting.id %}')"
    >
    Add to cart
    </button> 
    <a href="javascript:history.go(-1)" class="btn btn-secondary">Back</a>

{% endblock content %}