{% extends "base_generic.html" %}
{% block title %}<title>{{ service.name }}</title{% endblock %}

{% block content %}
    <h1>{{ servicelisting.name }}</h1>
    <p><a href="{{ servicelisting.vendor.get_absolute_url }}">{{ servicelisting.vendor.name }}</a></p>
    
    <img src="{{ servicelisting.imageURL }}" class="img-fluid"/>
    <p>${{ servicelisting.price }}{% if servicelisting.price_per_hour %} per hour{% endif %} | {{ servicelisting.days_available }}</p>
    <p>{{ servicelisting.description }}</p>
    
    {% if servicelisting.list_tags %}
        <p>Tags: {{ servicelisting.list_tags}}</p>
    {% endif %}
    <form method="post" action="{% url 'my-cart-add-service' csID=servicelisting.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to cart</button>
        <a href="javascript:history.go(-1)" class="btn btn-secondary">Back</a>
    </form>    

{% endblock content %}