<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>CS Store</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> {% endcomment %}
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">CS360 Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif %}" href="{% url 'products' %}">Products</a></li>
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'services' %}active{% endif %}" href="{% url 'services' %}">Services</a></li>
          <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'vendors' %}active{% endif %}" href="{% url 'vendors' %}">Vendors</a></li>
        </ul>
        {% comment %} <div class="flex-grow-1 mx-lg-5">
          <form>
            <input class="form-control text-center" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div> {% endcomment %}
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'my-cart' or request.resolver_match.url_name == 'my-orders' or request.resolver_match.url_name == 'logout' %}active{% endif %}" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">My account</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              {% comment %} <li>Welcome, {{ user.first_name }}!</li> {% endcomment %}
              <li><a class="dropdown-item" href="{% url 'my-cart' %}">View Cart</a></li>
              <li><a class="dropdown-item" href="{% url 'my-orders' %}">View Orders</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
          {% endif %}
          {% if perms.storeApp.can_set_active %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'manage-products' or request.resolver_match.url_name == 'manage-services' or request.resolver_match.url_name == 'manage-product-orders' or request.resolver_match.url_name == 'manage-service-orders' %}active{% endif %}" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Manage Store</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              {% comment %} <li>Managing {{ user.vendor.name }}</li> {% endcomment %}
              <li><a class="dropdown-item" href="{% url 'manage-products' %}">Products</a></li>
              <li><a class="dropdown-item" href="{% url 'manage-services' %}">Services</a></li>
              <li><a class="dropdown-item" href="{% url 'manage-product-orders' %}">Orders (Products)</a></li>
              <li><a class="dropdown-item" href="{% url 'manage-service-orders' %}">Orders (Services)</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          {% if user.is_authenticated %}
          <h3>Welcome, {{ user.first_name }}</h3>
          {% endif %}
          {% if user.cart.cartproduct_set.all or user.cart.cartservice_set.all %}
          <hr/>
          <h4 class="mb-3">Cart:</h4>
          {% else %}
          <p>Add something to your cart to get started!</p>
          {% endif %}
          {% if user.cart.cartproduct_set.all %}
            <ul>
              {% for cproduct in  user.cart.cartproduct_set.all %}
              <li>{{ cproduct.product.name }} ({{ cproduct.quantity }})</li>
              {% endfor %}
            </ul>
            <hr/>
            <p>${{ user.cart.subtotal }}</p>
            <a class="btn btn-primary mt-2" href="{% url 'my-cart' %}">Check out</a>
          {% endif %}
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}{% block pagination %} {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
            {% if page_obj.has_previous %}
            <a
              href="{{ request.path }}?page={{page_obj.previous_page_number }}"
              >Previous</a
            >
            {% endif %}
            <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{page_obj.next_page_number }}"
              >Next</a
            >
            {% endif %}
          </span>
        </div>
        {% endif %} {% endblock %}</div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
