{% extends "base_generic.html" %} {% block title %}<title>SS | Home</title>{% endblock %}
{% load humanize %}
{% block content %}
<h1 class="display-3">Superlative Sales</h1>
<hr class="w-50"/>
<h5 class="text-muted">
  Welcome to the Superlative Sales, a website developed by Seth Lunders &amp; Donald
  Hammer!
</h5>
<h6 class="display-6"><strong>Here's some stats about our store:</strong></h6>
<div class="row row-cols-1 row-cols-md-2 g-2 w-md-75">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="display-2 my-0">{{ num_vendors }} <small class="text-muted">Vendors</small></h2>
        {% comment %}
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        {% endcomment %}
        <p class="card-text">
          Check them out below:
        </p>
        <a href="{% url 'vendors' %}" class="btn btn-primary d-block mt-3">All Vendors</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="display-2 my-0">{{ num_productsActive }} <small class="text-muted">Products</small></h2>
        <a href="{% url 'products' %}" class="btn btn-primary d-block mt-3">View Products</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
          <h2 class="display-2 my-0">{{ num_servicesActive }} <small class="text-muted">Services</small></h2>
          <a href="{% url 'services' %}" class="btn btn-primary d-block mt-3">View Services</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="display-2 my-0">{{ num_sales }} <small class="text-muted">Sales</small></h2>
    </div>
    </div>
  </div>
</div>
{% endblock %}
